.about-page {}

.about-page .intro-block {}

.about-container {
    margin: 0;
    flex-direction: row-reverse;
}

.about-container>.flex-item {
    margin: 0;
    text-align: left;
}

@media screen and (orientation: portrait) {
    .about-container {
        flex-direction: column;
    }

    .about-container>.flex-item {
        margin: 0;
    }
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 auto;
    padding: 5% 5% 3% 5%;

    text-align: left;
    background: rgb(147, 56, 25);
    background: linear-gradient(180deg, rgba(147, 56, 25, 1) 0%, rgba(155, 60, 27, 1) 25%, rgba(153, 59, 26, 1) 50%, rgba(191, 93, 44, 1) 62%, rgba(213, 119, 56, 1) 75%, rgba(221, 134, 68, 1) 100%);

    color: var(--ivory-color);
}

.about-info>* {
    max-width: 32rem;
}

.about-info-title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.about-info-paragraph {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.about-info-emphasis {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.about-slideshow {
    background-color: blueviolet;
    min-height: 40vh;
}
