/* .inquiry-container {
    background-color: red;
}
.inquiry-container .inquiry-info {
    background-color: blue;
}
.inquiry-form {
    background-color: green;
} */

.inquiry-container {
    padding: 1.6rem 0;
}
.inquiry-container>.flex-item {
    text-align: left;
    margin: 1.5rem;
}

.inquiry-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 auto;

    text-align: left;
    max-width: 450px;
}

@media screen and (orientation: portrait) {
    .inquiry-info {
        padding: 0;
    }
}

.inquiry-info-title {
    /* background-color: peru; */

    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.inquiry-info-text {
    font-size: 1.2rem;
    font-weight: 200;

    margin-bottom: 1rem;
}

.inquiry-info-email {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

/* input {
    border-radius: 8px;
}

textarea {
    border-radius: 8px;
} */

.inquiry-form-name-group {
    display: flex;
    width: 100%;
}

.inquiry-form-fname, .inquiry-form-lname {
    flex: 1;
}

button {
    border-radius: 8px;
    border: 1px solid #1a1a1a;
    background-color: none;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.25s;
}

button:hover {
    border-color: #646cff;
    background-color: #646cff;
    color: #fff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* Style text inputs, email inputs and textareas */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: none;
  border-bottom: 15px solid #000; /* Adjust the color as needed */
  background: transparent;
  margin-bottom: 20px;
  padding: 5px 0; /* Add some padding to the top and bottom of the input */
  font-size: 16px;
  outline: none;
}

/* Add some style to textarea */
textarea {
  resize: vertical; /* Allows vertical resizing */
}

/* Style the submit button */
button[type="submit"] {
  background-color: #000; /* Adjust the color as needed */
  color: #fff; /* Adjust the text color as needed */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Add some hover effect to the submit button */
button[type="submit"]:hover {
  background-color: #333; /* Adjust the hover color as needed */
}





.instagram-title {
    font-size: 1.6rem;
    font-weight: 600;
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: rgb(104, 115, 204);
    
    background-image: url(https://images.unsplash.com/photo-1528818955841-a7f1425131b5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.instagram-title:hover {
    
}

.instagram-title>span {
    display: inline-block;
    max-width: 28rem;
    margin: 6rem auto;
}

.instagram-content {
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    background-color: rgb(179, 186, 230);
}