/* change from bootstrap to custom css */


.bg-image {

    background-image: var(--bg-url, url(https://images.unsplash.com/photo-1692728530148-05e4c86f1758?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.bg-image .mask {
    background-color: rgba(0, 0, 0, 0.005);
    height: 100vh;
}

@media screen and (orientation: portrait) {
    .bg-image {
        height: 90vh;
    }

    .bg-image .mask {
        height: 90vh;
    }
}