.insta-username {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-primary {
    background-color: #E4405F;
    /* Insta color */
}


body {
    background-color: #000;
    font: 1.1em Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}

figure>img {
    grid-row: 1 / -1;
    grid-column: 1;
}

figure a {
    color: black;
    text-decoration: none;
}

figcaption {
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(255, 255, 255, .5);
    padding: .2em .5em;
    justify-self: start;
}

.insta-feed-container {
    column-count: 3;
    /* Adjusted from 4 to 3 */
    column-gap: 10px;
}