.navbar {

    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    z-index: 10;
}
.navbar-brand {
    position: absolute;
    left: 0;
    padding-left: 10vw;
}
@media screen and (max-width: 768px) {
    .navbar-brand {
        position: relative;
        padding-left: 0;
    }
}

#navbarNav ul li {
    margin: 0 1.2rem;
}

#navbarNav.collapse.show {
    width: 100vw;
    height: 100vh;
    background-color: rgba(246, 246, 246, 1);
}
#navbarNav.collapse.show .nav-item .nav-link {
    
    color: rgb(48, 48, 48) !important;
}

/* Navbar.css */
.navbar .social-links {
    position: absolute;
    right: 0;
    padding-right: 10vw;
}

.navbar .social-links a {
    color: #fff; 
    transition: color 0.6s ease;
}

.navbar .social-links a:hover {
    color: #9da2ff;
}

.navbar .social-link {
    font-size: 1.8rem;
    margin: 0 0.9rem;
}
